<html>
    <head>
        <title>Your Acks</title>
        <!-- Bootstrap CSS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- TODO popper.js might not be needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/resources/radiator.css"/>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-sm">
                <a class="navbar-brand" href="/">
                    <img src="resources/logo.png" width="30" height="30"> Peer Acks
                </a>
                <a class="nav-link" href="/myacks">Your Acks</a>
                <a class="nav-link" href="/report">Recent Acks</a>
                <a class="nav-link" href="/radiator">Info Radiator</a>
                </ul>
            </nav>
            <h1>Your Acks</h1>
            <ul>
                {{range .acks}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
    </body>
</html>