<html>
    <head>
        <title>my acks</title>
    </head>
    <body>
        <h1>my acks</h1>
        <ul>
            {{range .acks}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    </body>
</html>