<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="/resources/radiator.css"/>
    <script src="/resources/textfit.js"></script>
  </head>
  <body>
    <div class="fullscreen"><div class="ack-text">Take a moment to appreciate your colleagues!</div></div>
    <div class="logo">
      <img src="/resources/logo.png" height="50px"/>
      <span class="logo-text">Peer Acks</span>
    </div>

    <script>
    var elem = document.documentElement;

    /* View in fullscreen */
    function openFullscreen() {
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
      }
    }

    var data = [],
        delay = 3500, // ms
        refetchCycle = 100,
        advanceCount = 0,
        dataIndex = 0;

    d3.select("body")
      .on("keypress", function() { openFullscreen(); })

    function fit() {
      var el = document.querySelector('.ack-text');
      el.style.height = '100%';
      textFit(el, {maxFontSize: 120, alignVertWithFlexbox: true, alignHoriz: true, multiLine: true});
      el.style.height = 'auto';
    }

    function advance() {
      if (advanceCount % refetchCycle == 0) {
        d3.json("/acks", {credentials: "same-origin"}).then(function(json) {
          data = json.acks;
          dataIndex = dataIndex % data.length;
        });
      }
      advanceCount++
      d3.select(".ack-text")
        .transition()
        .style("opacity", 0)
        .delay(delay)
        .on("end", function() {
          this.remove();
          d3.select(".fullscreen").append("div")
            .attr("class", "ack-text")
            .style("opacity", 0)
            .text(function(d) {
              var idx = dataIndex;
              dataIndex = (dataIndex+1) % data.length;
              if (data.length <= idx) {
                return "There are no peer acks! :-(";
              }
              return data[idx];
            })
            .transition()
            .style("opacity", 1)
            .on("start", fit)
            .on("end", function() {
              advance();
            });
        })
    }
    fit();
    advance();

    </script>
  </body>
</html>
